<div class="container-fluid">
    <div class="row">
        <div class="card border-dark mb-3" style="width: 15rem;">
            <img class="card-img-top" src="\assets\Image  (1).png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">LipStick</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="\assets\Image  (2).png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Something</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="\assets\Image  (3).png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Shoes</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div> 
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="\assets\Image  (4).png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">TypeWriter</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="\assets\Image  (5).png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">TypeWriter</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="\assets\Image  (6).png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">TypeWriter</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="\assets\Image  (7).png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">TypeWriter</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="\assets\Image  (8).png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">TypeWriter</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="\assets\Image  (9).png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">TypeWriter</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="\assets\Image  (10).png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">TypeWriter</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="\assets\Image  (11).png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">TypeWriter</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="\assets\Image  (12).png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">TypeWriter</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>  
    </div> 
</div>
